In [6]:
# pandas是用来处理表格型或异质型数据的
import pandas as pd
obj = pd.Series([4,7,-5,3])

In [8]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [10]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
obj.index=['a','b','c','d']

In [13]:
obj

a    4
b    7
c   -5
d    3
dtype: int64

In [15]:
obj['a']

4

In [17]:
obj.values[0]

4

In [18]:
# 使用布尔值数组进行过滤，与标量相乘，或是应用数学函数，这些操作将保存索引值连接：

In [21]:
obj[obj>3]  # 过滤大于3的元素

a    4
b    7
dtype: int64

In [ ]:
# DataFrame
#表示的是矩阵的数据表，它包含已排序的列集合，每一列可以是不同的值类型

In [6]:
data={'state':[1,2,3],"year":[2019,2020,2021]}
data

{'state': [1, 2, 3], 'year': [2019, 2020, 2021]}

In [8]:
frame=pd.DataFrame(data)
frame

   state  year
0      1  2019
1      2  2020
2      3  2021

In [11]:
frame.head()

   state  year
0      1  2019
1      2  2020
2      3  2021

In [13]:
frame.year

0    2019
1    2020
2    2021
Name: year, dtype: int64

In [33]:
# 索引对象是用于存储轴标签和其他元数据的
obj = pd.Series(range(4),index=['a','b','c','c'])
obj

a    0
b    1
c    2
c    3
dtype: int64

In [30]:
obj.index

Index(['a', 'b', 'c', 'c'], dtype='object')

In [31]:
obj.index[1]

'b'

In [32]:
obj.index[1]='d'  # 索引对象是不可变的，因此用户是无法修改索引对象的

TypeError: Index does not support mutable operations

In [35]:
# 基本功能--1.重建索引 reindex()

In [37]:
obj = pd.Series([4,6,7,-9],index=['d','c','a','b'])
obj

d    4
c    6
a    7
b   -9
dtype: int64

In [40]:
obj2 =obj.reindex(index=['a','b','c','d','e'])   
#调用reindex方法时，会将数据按照新的索引进行排列，某个索引值不存在，则会引入缺失值
obj2

a    7.0
b   -9.0
c    6.0
d    4.0
e    NaN
dtype: float64